/* **************************************** DELETE REVIEW *****************************************/

.reviews_post-button {
  margin: 0 auto 20px;
}

.reviews_review {
  margin-bottom: 20px;
}

.reviews_review_name {
  font-weight: bold;
}

.reviews_review_date {
  color: gray;
}

.review-delete_confirm {
  background-color: red;
}

.review-delete_cancel {
  background-color: darkgray;
}
