.page-wrapper {
  margin: auto 40px;
}

.spot-tile-wrapper {
  /* border: 1px solid red; */
  display: flex;
  column-gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
}

.spot-tile, .spot-tile-img {
  /* border: 1px solid red; */
  color: black;
  max-width: 250px;
  max-height: 238px;
  text-decoration: none;
}

.spot-tile-img {
  width: 100%;
  /* max-height: 211px; */
  object-fit: cover;
}

.spot-tile_info-span {
  display: flex;
  justify-content: space-between;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  text-align: center;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}



/* **************************************** MANAGE SPOTS *****************************************/

.manage-spots-page-wrapper {
  margin: auto 40px;
}

.manage-spots_create-button {
  margin: 10px auto 20px;
}

.spot-tile_manage-buttons_update {
  margin-right: 5px;
}




/* **************************************** DELETE SPOT *****************************************/

.spot-delete-wrapper {
  padding: 30px;
}

.spot-delete_confirm {
  background-color: red;
}

.spot-delete_cancel {
  background-color: darkgray;
}
