h2 {
  margin: 0 auto 20px;
}

input {
  display: block;
  margin: 5px 0;
}

button {
  margin: 15px auto 0;
}

.form-wrapper {
  max-width: 1000px;
  margin: 100px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-wrapper {
  display: block;
}

.errors {
  color: red;
}
